.cardName{
    color: black;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size:1.1em;
}
.cardDiet{
    color: black;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    font-size:0.8em
}
.cardImg{
    border: 5px solid var(--button-color);
    border-radius: 50%;
}

.textContainer{
    align-items: center;
    display: flex;
    height: 20vh;
    justify-content: center;
    width: 23vw;
    flex-direction: column;
    row-gap: 0.8em;
    margin: 1em;
    text-decoration: none;
}

.cardContainer{
    background-color: #727171a7;
    border-radius: 20%;
    padding: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}
