body{
    background: linear-gradient(135deg, var(--background-color) 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
                linear-gradient(225deg, var(--background-color) 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color: var(--background-color);
    background-size: 64px 128px;  
}

.containerCards{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center
}

.button {
    background-color: var(--button-color);
    color: #cccccc;
    font-weight: bold;
    padding: 0.25rem 1.20rem;
    margin: 0 0.25rem 0.5rem;
    border: solid 2px transparent;
    border-radius: 10px;
    font-size: 1rem;
    transition: background-color 0.10s;
}
    
.button:hover {
    background-color: var(--button-hover);
    color: #cccccc;
}

select {

    background-color: white;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

select.round {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      radial-gradient(#ddd 70%, transparent 72%);
    background-position:
      calc(100% - 20px) calc(1em),
      calc(100% - 15px) calc(1em),
      calc(100% - .5em) .3em;
    background-size:
      5px 5px,
      5px 5px,
      1.5em 1.5em;
    background-repeat: no-repeat;
  }
  
select.round:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      radial-gradient(gray 70%, transparent 72%);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - .5em) .3em;
    background-size:
      5px 5px,
      5px 5px,
      1.5em 1.5em;
    background-repeat: no-repeat;
    outline: 0;
  }
